1. what assets are needed? How many types of lands are necessary? (Number + descriptions are needed for Snarky)
2. assets for separators (are there different types of separators?
3. assets for UI elements
4. who will handle land map definitions/how will the data be handled?
5. what sort of biomes/types of lands will there be?
6. need lands map icon for portal



moc to nehrotit, staci prakticky jedna farba ked je uplne zoomout